[alias]
	n = now --all --stat
	nr = now rebase
[core]
	excludesfile = ~/.gitignore
	editor = nvim
	pager = less
[user]
	email = tamura.yukichi@gmail.com
	name = Tamura Yukichi
[init]
	templatedir = ~/.git_template
[ghq]
    root = ~/ghq
    root = ~/go
[commit]
	template = ~/.gitmessage
[help]
	autocorrect = 1
[color]
	ui = true
